.email-section {
  background: var(--light);
  padding: 5rem 0;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

.email-section h2 {
  color: var(--primary-dark);
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.email-form {
  max-width: 800px;
  padding: 5em 2em;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "name email"
              "msg msg"
              "submit submit"
              "submit-msg submit-msg"
  ;
  gap: 1.5rem;
}

.email-form input {
 max-width: 500px;
 min-width: 100px;
}

.email-form .name {
  grid-area: name;
}

.email-form .email {
  grid-area: email;
}

.email-form input,
.email-form textarea {
  padding: 1.25rem 1.25rem;
  border: 2px solid var(--secondary-dark);
  border-radius: 12px;
  font-size: 1rem;
  font-family: inherit;
  background-color: var(--secondary-light);
  color: #330011;
}

.email-form textarea {
  grid-area: msg;
  resize: none;
  min-height: 200px;
  max-width: 1000px;
}

.email-form button {
  justify-self: center;
  min-width: 200px;
  grid-area: submit;
  background-color: var(--primary-dark);
  color: var(--light);
  padding: 1.25rem;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.email-form button:hover {
  background-color: var(--dark);
}

.success-msg {
  grid-area: submit-msg;
  justify-self: center;
  color: var(--primary-dark);
  margin-top: 1rem;
  font-weight: 500;
}
