.icon-section {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-content: space-evenly;
  padding: 5rem 0;
}

.icon-section hr {
  color: var(--primary);
  width: 200px;
}

.i > img {
  width: 150px;
  display: flex;
  justify-self: center;
  padding-bottom: 10px;
}

.i {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: var(--light);
  background-color: var(--primary);
  border-radius: 10%;
}
