.navbar {
  position: fixed;
  background-color: var(--light);
  width: 100%;
  box-shadow: 0px 5px 10px 0px var(--light);
  z-index: 10;
}

.navbar > .inner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 10px 0px;
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar .links {
  display: flex;
  gap: 50px;
  align-items: center;
}


.logo-img {
  width: 8vw;
  height:auto;
  max-width: 100px;
}

h3 {
  text-align: center;
}

.nav-link.active h3 {
  background-color: var(--primary-dark);
  color: var(--light);
  border-radius: 10px;
  padding: 5px 15px;
  box-shadow: 1px 1px 5px 0px var(--primary-dark);
}
