.navbar {
  position: fixed;
  background-color: var(--light);
  width: 100%;
  box-shadow: 0px 5px 10px 0px var(--light);
  z-index: 10;
}

.navbar .inner {
  display: grid;
  grid-template-areas: "logo links";
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}

.navbar .logo {
  grid-area: logo;
  display: flex;
  gap: 1em;
  align-items: center;
}

.navbar .links {
  grid-area: links;
  display: flex;
  gap: 25px;
  align-items: center;
}


.logo-img {
  width: clamp(3rem, 5vw + 1rem, 5rem);
}

.navbar h3 {
  text-align: center;
}

.nav-link.active h3 {
  background-color: var(--primary-dark);
  color: var(--light);
  border-radius: 10px;
  padding: 5px 15px;
  box-shadow: 1px 1px 5px 0px var(--primary-dark);
}

.navbar .menu-img {
  display: none;
}

.navbar button {
  border: none;
  background-color: transparent;
}