@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  --dark: #3c101d;
  --light: #fcf3f5;
  --primary: #b53058;
  --primary-dark: #79203b;
  --primary-light: #d45e81;
  --secondary: #e49ab0;
  --secondary-dark: #d45e81;
  --secondary-light: #f4d7e0;
  color: var(--dark);
  background-color: var(--light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 0.3px red;
}

.inner {
  height: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: auto min(5em, 8%);
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-dark);
}

h1 {
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
  font-size: clamp(2rem, 3.5vw, 3rem);
}

h2 {
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
}