@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  --dark: #3c101d;
  --light: #fcf3f5;
  --primary: #b53058;
  --primary-dark: #79203b;
  --primary-light: #d45e81;
  --secondary: #e49ab0;
  --secondary-dark: #d45e81;
  --secondary-light: #f4d7e0;
  color: var(--dark);
  background-color: var(--light);

  --font-h1: clamp(3rem, 5vw + 1rem, 5rem);
  --font-h2: clamp(1.6rem, 2vw + 0.4rem, 2.5rem);
  --font-h3: clamp(1.4rem, 1.8vw + 0.4rem, 2rem);
  --font-h4: clamp(1.2rem, 1.5vw + 0.3rem, 1.8rem);
  --font-h5: clamp(1.1rem, 1.2vw + 0.2rem, 1.5rem);
  --font-h6: clamp(1rem, 1vw + 0.2rem, 1.3rem);
  --font-body: clamp(1rem, 0.6vw + 0.4rem, 1.125rem);
  --font-small: clamp(0.85rem, 0.4vw + 0.3rem, 1rem);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inner {
  height: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: auto min(5em, 8%);
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-dark);
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
}


/* Global styles for text tags */
h1 {
  font-size: var(--font-h1);
}

h2 {
  font-size: var(--font-h2);
}

h3 {
  font-size: var(--font-h3);
}

h4 {
  font-size: var(--font-h4);
}

h5 {
  font-size: var(--font-h5);
}

h6 {
  font-size: var(--font-h6);
}

p,
li,
a,
span {
  font-size: var(--font-body);
}

small {
  font-size: var(--font-small);
}
