@media (max-width: 600px) {

    .inner {
        width: 100% !important;
        padding: 0.5em 1.5em !important;
        justify-content: space-between !important;
    }

    iframe {
        width: clamp(100px, 100%, 500px);
        max-height: 300px;
    }

    .header .inner {
        justify-content: center !important;
    }

    .links.menu {
        display: flex !important;
        flex-direction: row;
        position: static;
        background: none;
        box-shadow: none;
        padding: 0;
    }

    .menu-img {
        display: none;
    }

    .navbar .inner {
        grid-template-areas: "logo menu" !important;
    }

    .navbar .menu-img {
        grid-area: menu;
        display: block !important;
        width: clamp(1rem, 5vw + 1rem, 5rem);
        cursor: pointer;
    }

    .navbar .links {
        display: none !important;
    }

    .navbar .logo-img {
        width: clamp(2rem, 5vw + 1rem, 5rem);
    }

    .links.menu {
        position: relative;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 55px;
        right: 0;
        background-color: var(--light);
        max-width: 50vw;
        height: 100vh;
        padding-top: 2em;
        box-shadow: -1px 10px 8px rgba(0,0,0,0.1);
        z-index: 1000;
    }

    /* When menu is open */
    .links.menu.open {
        display: flex !important;
    }

    .header {
        height: 400px !important;
    }

    .icon-section {
        grid-template-columns: 250px !important;
        justify-content: center !important;
    }

    .icon-section .i {
        max-width: 225px;
    }

    .contacts .inner {
        grid-template-columns: 1fr !important;
    }

    .email-form {
        grid-template-areas: "name name"
              "email email"
              "msg msg"
              "submit submit"
              "submit-msg submit-msg" !important;
    }

}